    <div id="maincontent">
        <div class="imgicon">
        <div id="image">
        <img id="me" src="/assets/me.jpg" />
        
        </div>
           
        </div>
        <div id="title">
        <div id="name">
        <h1 id="myname" class="typewriter">MESUARA <br> KALEZIQ</h1>
        <div id="icons">
       <a href="https://github.com/mesuara" target="_blank"><i class="huge github icon"></i></a>
       <a href="https://www.linkedin.com/in/mesuara-kaleziq/" target="_blank"><i class="huge linkedin icon"></i></a>
       <a href="https://twitter.com/mesuara"><i class="huge twitter icon"></i></a>
       <a href="contacts/new"><i class="huge envelope icon"></i></a>
       </div>
        
        </div>
      
       </div>