<div class="ui two column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://media.giphy.com/media/f9RHPaLjziJeOMDXGu/giphy.gif">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://media.giphy.com/media/2iihQaPamAQFsIKNQD/giphy.gif">
      </div>
      <div class="content">
        <a class="header">R-umblr</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/images/avatar/large/elliot.jpg">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
  </div>
</div>