
 <div class="pusher">
<div class="ui two column grid ">
  <div class="column">
  <div class="ui special cards">
    <div class="ui fluid card">
    <div class="content">
        <a class="header" href='http://maketheworldgreenagain.herokuapp.com/'>R-umblr</a>
      </div>
      <div class="image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          Blog with CRUD options 
          <br>
          with interest in environment

          
            </div>
          </div>
        </div>
        <img src="https://media.giphy.com/media/f9RHPaLjziJeOMDXGu/giphy.gif">
      </div>
      
    </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
    <div class="content">
        <a class="header" href='https://pixapi-image.herokuapp.com/'>PIXAPI</a>
      </div>
      <div class="image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          Admin panel for a fictitious school 
          <br> 
          whereby the administrator can create 
          <br>
          users and complete common administrative tasks.
            </div>
          </div>
        </div>
     
        <img src="https://media.giphy.com/media/2iihQaPamAQFsIKNQD/giphy.gif">
      </div>
      
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
     <div class="content">
        <a class="header" class='http://bobi-scheduler.herokuapp.com/'>Bobi-scheduler</a>
      </div>
      <div class="image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          
            <div> Web application to make 
            <br>
            appointments to rent a soccer field.
            <br>
            see moree..
            </div>
          </div>
        </div>
      </div>
        <img src="/assets/bobischeduler.png">
      </div>
     
    </div>
  </div>
</div>

</div>



<script>
 $('.image')
  .dimmer({
    on: 'hover'
  })
</script>
