<div id="aboutme">

<h2>Teacher Assitant at Code Immersives</h2>
Hi there, <br>
I started learning to code on my own a few years ago (C++, JavaScript). I’ve finished my program with the New York City Tech Pipeline, where I’ve done programming with JavaScript and Ruby and also I took an advanced class with The Knowledge House for Data Science with Python

<br>

<br>
With over 6 years of work experience in customer-facing roles for companies that include the US Tennis Association, I've had the chance to work with people from different backgrounds. Which has led me to amazing new opportunities and I've learned a lot from them.
<br>
<br>
 </div>

