<p id="aboutme">I’m a recent bootcamp graduate. Currently, I’m working on my personal projects built with Ruby on Rails and JavaScript. I also am training at The Knowledge House to be a Teacher Assistant in tech for high schools. I started learning to code on my own a few years ago (C++, JavaScript). As I got exposed to coding and the things I could do with it the more I wanted to explore. Now that I finished my bootcamp, I'm taking a course in Python so I can learn about data and machine learning.
<br>
<br>
With over 5 years of work experience in customer-facing roles for companies that include the US Tennis Association, I've had the chance to work with people from different backgrounds. 
<br>
<br>
I look forward to connecting with other web developers who have created successful careers in artificial technology. </p>