/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* body {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  height: auto;
}

#maincontent {
  -webkit-box-flex: 100;
      -ms-flex: 100 0 auto;
          flex: 100 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 900px;
  height: 600px !important;
  padding-bottom: 10px;
}

#image {
  border-radius: 50%;
  width: 410px;
  height: 410px;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#me {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 5px;
}

#name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
} */

/* #myname {
  font-size: 60px;
  overflow: hidden; */
  /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; */
  /* The typwriter cursor */
  /* white-space: nowrap; */
  /* Keeps the content on a single line */
  /* margin: 0 auto; */
  /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; */
  /* Adjust as needed */
  /* -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} */

/* #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#info {
  margin-top: 50px;
}

.linksmain {
  font-size: 30px;
  padding: 5px;
} */

/* #aboutme {
  font-size: 20px;

} */

/* .imgicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 900px;
  font-size: 25px;
}

.ui.top.fixed.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
} */

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
/* @-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
} */
/* 
.hidee {
  display: none;
} */
/*# sourceMappingURL=application.css.map */

/* @media(max-width:600px){
  #maincontent{
    padding-top: 20px;
    flex-direction: column;
  }
  #maindiv{
    width: auto;
    flex-direction: column;
  }
  .phone-none{
    display: none;
  }
  div .welcome{
    width: auto;
    justify-content: center;
  }

  #me {
    width: 300px;
    height: 300px;
  }
  #myname{
    font-size: 40px;
  }
  #image {
    width: 305px;
    height: 305px;
  }
} */


* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#maindiv{
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:auto;
}

#maincontent {
  padding:10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#image{
  border-radius: 50%;
  width: 510px;
  height: 510px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#me{
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-left:5px;
  
}

div .welcome{
   
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding:10px;
  font-size: 35px;
  width: 85%;
  
  
}


.ui.top.menu {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 20;
  display: flex;
    justify-content: center;
    align-items: center;
}
#icons{
  padding:10vh;
  display: flex;
  justify-content: space-evenly;

}
#myname{
  font-size: 80px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#aboutme{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pusher{
  width: 80%;
}

.galle{
  display: flex;
  align-items: center;
}



.hexagon {
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
  transform: rotate(120deg);
}

.hexagon-in1, .hexagon-in2 {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
  transform: rotate(-60deg);
}

.hexagon-in2 {
	overflow: hidden;
	visibility: visible;
	background-color: rgba(46, 46, 46, 1);
}



.thumbnail {
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.14, 0.56, 0.35, 0.97);
  -webkit-filter: grayscale(1);
}

.thumbnail:hover {
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
}



.thumbnail {
	height: 100%;
}



.gallery-hex {
  margin-top: 20vh;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
	width: 100%;
  min-width: 314px;
  justify-content: center;
	/* margin: 9% auto 90px; */
  padding-left: 2%;
}

.gallery-hex .wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 12%;
  /* margin: -5.3% 0.13% 0; */
  margin: -6.75% -1% 4% 1.7%;
}

.gallery .wrapper {
	width: 29%;
	min-width: 100px;
	margin: 2%  1.6%;
}

.gallery .hexagon a {
	border: none;
	margin: 0;
}

.gallery-hex .wrapper:after {
	padding-top: 116%;
	display: block;
	content: '';
}

.gallery-hex .wrapper:hover {
	z-index: 100;
}

.gallery-hex .hexagon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/* .gallery-hex .wrapper:nth-child(8) {
  margin: -3.3% .3% 0;
  margin-left: 6.4%;
} */
  /* margin-left: 6.75%; */







  /* The typing effect */
  @keyframes typing {
    
    from { width: 0 ;
      border-right: .15em solid orange;}
    to { width: 100% ;
      border-right: .15em solid gray;

    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
  
  }

  @media(min-width:320px){
  #maincontent{
    padding-top: 20px;
    flex-direction: column;
  }
  #maindiv{
    width: auto;
    flex-direction: column;
  }
  .phone-none{
    display: none;
  }
  div .welcome{
    width: 100%;
    justify-content: center;
  }
  .ui.top.menu{
    width: 100%;
  }
  #me {
    width: 250px;
    height: 250px;
  }
  #name{
    text-align: center;
  }
  #myname{
    font-size: 40px;
    width: auto;
  }
  #image {
    width: 255px;
    height: 255px;
  }
}